.select2-container--bootstrap4 .select2-dropdown {
    -webkit-box-shadow: 1px 0 0 #dadfe3, -1px 0 0 #dadfe3, 0 1px 0 #dadfe3, 0 -1px 0 #dadfe3, 0 3px 13px rgba(0, 0, 0, .08);
    box-shadow: 1px 0 0 #dadfe3, -1px 0 0 #dadfe3, 0 1px 0 #dadfe3, 0 -1px 0 #dadfe3, 0 3px 13px rgba(0, 0, 0, .08);
    border-radius: 0.25rem;
    border: 0px;
    -webkit-animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
    animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.select2-container--bootstrap4 .select2-dropdown.select2-dropdown--below {
    margin-top: 5px;
    overflow: hidden;
}

.select2-container--bootstrap4 .select2-dropdown.select2-dropdown--above {
    margin-top: -5px;
}

.select2-container--bootstrap4 .select2-results__option--highlighted .text-muted {
    color: #a3caf5 !important;
}

.select2-container--bootstrap4 .select2-selection__clear {
    margin: 0.6597222em;
}

select[readonly].select2-hidden-accessible + .select2-container {
    pointer-events: none;
    touch-action: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection {
    background: #eee;
    box-shadow: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection__arrow, select[readonly].select2-hidden-accessible + .select2-container .select2-selection__clear {
    display: none;
}
